:root {
    --white: #fff;
    --primary: #F59E0B;
    --blue: #2cccb7;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Outfit", sans-serif;
    background-image: url('/bg_clima.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color:var(--white);
    font-size: 2rem;
}                                                    